body {
    background-color: rgb(44, 44, 44);
}

#mainpagelogo {
    height: 37px;
    width: 70px;

}

.mainpageimage {
    z-index: -1;
    position: fixed;
    width: 100%;
}

#mainpagediv {
    width: 97%;
    height: 295px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 130px;
}

.elsobejegyzes {
    text-align: left;
}

#elindultaszoveg1 {
    margin-left: 18px;
    margin-top: 18px;
}

#elindultaszoveg2 {
    margin-left: 18px;
    margin-top: 18px;
}

#localo {
    height: 240px;
    width: 440px;
    float: right;
    margin-top: -70px;
    margin-right: 18px;
}